.jumbotron {
  text-align: center;
  background-image: url(../img/banner.jpg);
  background-size: contain;
  font-size: 62pt;
  color: pink;
  text-shadow: -1px 0 black, 0 4px black, 3px 0 purple, 0 -1px black;
}

#gameBoardID {
  display:none;
}

#gameBoardID p {
  margin-top: 15px;
}

#gameBoardID h4 {
  margin-top: 10px;
}

.col-md-5 {
  background-color: beige;
  font-size: 16pt;
  font-family: sans-serif;
  color: blue;
  border: 6px solid white;
  text-align: center;
  width: 100%;
}

#dice {
  margin-top: 15px;
  max-width: 75%;
}

#diceNumber {
  text-align: center;
  margin: 20px auto 0 auto;
  font-weight: bold;
}

#playerTurn , #compVSplayerTurn {
  margin-top: 15px;
  text-align: center;
  font-family: fantasy;
  font-size: 24pt;
}

#playerNamesID, #compVSplayerNamesID, #compVsgameBoardID {
  display: none;
}

.btn-warning {
  margin-bottom: 10px;
  width: 100%;
  font-size: 20pt;
  font-weight: bold;
}

#ResetBtnID {
  display: none;
  text-align: center;
}

#compResetBtnID {
  display: none;
  text-align: center;
}
.resetBTNClass, .compresetBTNClass {
  text-align: center;
  margin: 20px auto 0 auto;
}
